/* ヘッダー
path: src/components/header.js */

header{
    background-color: #5FC7D6;
    height: 140px;
}

.header-nav {
    list-style: none;
    float:right;
    padding: 20px;
}


li{
    float:left;
    padding: 20px;
}


.allBook {
    height:200px;
}

.registerBook {
    height: 200px;
}

.account {
    height: 200px;
}

.header-logo {
    margin-top: 20px;
    margin-left: 20px;
    height: 100px;
    float: left;
}

/* フッター
path: src/components/footer.js */

footer{
    height: 90px;
}
.Tenpensya-logo{
    height:70px;
    float:left;
    padding:10px;
}

p{
    border-top: 5px dotted;
    padding-top: 90px;
    text-align: center;

}

/* メイン画面　
path: src/pages/item/main.js */

.bookshelf {
    height: 200px;
}

.cat {
    height: 200px;
}

.tsundoku {
    height: 200px;
}

/* ログイン画面
path: src/pages/user/login.js */

/* ユーザー登録画面
path: src/pages/user/register.js */

/* 蔵書一覧画面
path: src/pages/item/readAll.js */

/* 積読本一覧画面
path: src/pages/item/readUnread.js */

/* 読了本一覧画面
path: src/pages/item/readFinished.js */

/* 本の登録画面
path: src/pages/item/create.js */

/* 本の詳細画面
path: src/pages/item/readSingle.js */
