/* ヘッダー
path: src/components/header.js */

header{
    background-color: #5FC7D6;
    height: 140px;
}

.header-nav-logout{
    list-style: none;
    float:right;
    padding: 20px;
}

li{
    float:left;
    padding: 20px;

}

.header-nav-login{
    float:right;
    list-style: none;
   
}

.allBook {
    height:80px;
}

.registerBook {
    height: 80px;
}

.account {
    height: 80px;
}

.header-logo {
    margin-top: 20px;
    margin-left: 20px;
    height: 100px;
    float: left;
}

/* フッター
path: src/components/footer.js */

footer{
    height: 90px;
}
.Tenpensya-logo{
    height:70px;
    float:left;
    padding:10px;
}

p{
    border-top: 5px dotted;
    padding-top: 90px;
    text-align: center;

}

/* メイン画面　
path: src/pages/item/main.js */

.bookshelf {
    height: 200px;
}

.cat {
    height: 200px;
}

.tsundoku {
    height: 200px;
}

/* ログイン画面
path: src/pages/user/login.js */
h1{
    font-size: 25px;
    font-family: "游ゴシック体","Yu Gothic","YuGothic",sans-serif;
}

.login{
    color:#fff;
    background-color: #5FC7D6;
    border-color:#5FC7D6;
    border-radius:5px;
    margin-left:20px;
}

.login-text{
    margin: 20px;
}

.login-text:focus{
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}



/* 新規登録画面
path: src/pages/user/register.js */
.register{
    color:#fff;
    background-color: #5FC7D6;
    border-color:#5FC7D6;
    border-radius:5px;
    margin-left:20px;
}

.register-text{
    margin: 15px;
}

.register-text:focus{
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}


/* 蔵書一覧画面
path: src/pages/item/readAll.js */

/* 積読本一覧画面
path: src/pages/item/readUnread.js */

/* 読了本一覧画面
path: src/pages/item/readFinished.js */

/* 本の登録画面
path: src/pages/item/create.js */

/* 本の詳細画面
path: src/pages/item/readSingle.js */
